response_new.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="person-mobility">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="agreement-id" type="xs:string"/>
              <xs:annotation>
                <xs:documentation>The ID of the IIA that the mobility is connected to</xs:documentation>
              </xs:annotation>
              <xs:element name="home">
                <xs:annotation>
                  <xs:documentation>Describing the Home institution</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="institution-id" type="xs:string"/>
                    <xs:element name="organization-unit-id" type="xs:string"/>
                    <xs:annotation>
                      <xs:documentation>Department</xs:documentation>
                    </xs:annotation>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="host">
                <xs:annotation>
                  <xs:documentation>Describing the Host institution</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="institution-id" type="xs:string"/>
                    <xs:element name="organization-unit-id" type="xs:string"/>
                    <xs:annotation>
                      <xs:documentation>Department</xs:documentation>
                    </xs:annotation>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="given-names" type="xs:string"/>
                    <xs:element name="family-name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="phone" type="xs:long"/>
                    <xs:element name="bday" type="xs:string"/>
                    <xs:element name="gender" type="xs:byte"/>
                    <xs:element name="citizenship" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="start-date" type="xs:date"/>
              <xs:element name="end-date" type="xs:date"/>
              <xs:element name="eqf-level" type="xs:byte"/>
              <xs:annotation>
                <xs:documentation>EQF level of the nomination, See https://en.wikipedia.org/wiki/European_Qualifications_Framework</xs:documentation>
              </xs:annotation>
              <xs:element name="rec-lang-comp">
                <xs:annotation>
                  <xs:documentation>Required language competence for the nomination</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lang" type="xs:string"/>
                    <xs:element name="level" type="xs:byte"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="learning-opportunity-specification">
                <xs:annotation>
                  <xs:documentation>List of courses in the nomination</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="planned">
                      <xs:annotation>
                        <xs:documentation>Planned means the student wishes to attend these</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="learning-opportunity-specification-id" type="xs:string"/>
                          <xs:element name="start-term" type="xs:string"/>
                          <xs:element name="end-term" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="recognized">
                      <xs:annotation>
                        <xs:documentation>Recognized means the host institution has approved the following courses</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="learning-opportunity-specification-id" type="xs:string"/>
                          <xs:element name="start-term">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element minOccurs="0" name="title">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute ref="xml:lang"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="start-date" type="xs:date"/>
                                <xs:element minOccurs="0" name="end-date" type="xs:date"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="end-term">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element minOccurs="0" name="title">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute ref="xml:lang"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="start-date" type="xs:date"/>
                                <xs:element minOccurs="0" name="end-date" type="xs:date"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="recommended">
                      <xs:annotation>
                        <xs:documentation>If the host institution refuses the student a course, the can reccomend a substitution</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="learning-opportunity-specification-id" type="xs:string"/>
                          <xs:element name="start-term" type="xs:string"/>
                          <xs:element name="end-term" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="timeline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="discuss" type="xs:string"/>
                    <xs:annotation>
                      <xs:documentation>I have no idea what timeline is supposed to be, so I just added a discuss.field...</xs:documentation>
                    </xs:annotation>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
